<h2>Users</h2>
<div class="row g-3">
  <% for (let user of users) { %>

    <div class="col-4">
      <div class="card p-1">
        <h5 class="card-title"><%= user.firstName %></h5>
        <div class="card-text">
          <div><%= "lastName: " + user.lastName %></div>
          <div><%= "email: " + user.email %></div>
          <div><%= "id: " + user.id %></div>
          <div><%= "number of accomplished Tasks: " + user._id %></div>


          <div>
            <a class="btn btn-outline-primary" href="<%= '/users/' + user.id + '/edit' %>">Edit</a>
            <a class="btn btn-outline-danger" href="<%= '/users/' + user.id + '/delete' %>">Delete</a>
          </div>



          
        </div>
      </div>
    </div>


  <% } %>



</div>
