<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>

    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <h1>Priority</h1>


      <% if (msg) { %>
        <div class="alert alert-primary">
          <%= msg %>
        </div>
      <% } %>


      <div class="row">
        <div class="col-4">
          <h2>High</h2>
          
          <%- include("../components/tasksBoard.ejs", { users,  }) %>
        </div>
        <div class="col-4">
          <h2>Medium</h2>
          
          <%- include("../components/tasksBoard.ejs", { users, currentPage, lastPage }) %>
        </div>
        <div class="col-4">
          <h2>Low</h2>
          
          <%- include("../components/tasksBoard.ejs", { users, currentPage, lastPage }) %>
        </div>
      </div>

    </div>


    <%- include("../templates/footer.ejs") %>
  </body>
</html>
